body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

h1,
h2,
p,
ul,
li {
	font-family: sans-serif;
}
ul.header li {
	display: inline;
	list-style-type: none;
	margin: 0;
}
ul.header {
	background-color: #111;
	padding: 0;
}
ul.header li a {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	padding: 20px;
	display: inline-block;
}
.content {
	background-color: #fff;
	padding: 20px;
}
.content h2 {
	padding: 0;
	margin: 0;
}
.content li {
	margin-bottom: 10px;
}

.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}
.jumbotron {
	padding-top: 3rem;
	padding-bottom: 3rem;
	margin-bottom: 0;
	background-color: #fff;
}
@media (min-width: 768px) {
	.jumbotron {
		padding-top: 6rem;
		padding-bottom: 6rem;
	}
}

.jumbotron p:last-child {
	margin-bottom: 0;
}

.jumbotron-heading {
	font-weight: 300;
}

.jumbotron .container {
	max-width: 40rem;
}

footer {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

footer p {
	margin-bottom: 0.25rem;
}

.card-img-top-new {
	margin-top: 10%;
	max-height: auto;
	max-width: 250px;
	align-self: center;
}
