body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.editFileButtonWrapper {
	position: relative;
	overflow: hidden;
	display: inline-block;
}

.editFileButtonWrapper input[type='file'] {
	font-size: 100px;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
}

.btn-info {
	color: white;
}

.scroll-to-top {
	position: absolute;
	right: 15px;
	bottom: 70px;
	z-index: 9999;
}

.facebookButton {
	background: #4267b2;
	color: white;
	text-align: center;
}
